.App {
  text-align: center;
  background-color: #7298e6;
}

.App-header {
  min-height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 0.5rem;
}

/* This is mobile, as default*/
html{
  font-size: 16px;
  /* this sets 1rem to 15px*/
}

/*tablet*/
@media only screen and (min-width: 600px){
  html{
      font-size: 19px;
      /* this sets 1rem to 17px*/
  }
}

/*laptop*/
@media only screen and (min-width: 768px){
  html{
      font-size: 22px;
      /* this sets 1rem to 19px*/
  }
}

.input-wrap{
  width:95%;
  display: flex;
}

.memes{
  height:calc(100vh - 3.5rem);
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.meme{
  margin: 0.3rem;
  cursor: pointer;
  position: relative;
}

.meme-title{
  display: none;
  position: absolute;
  width: (100% - 10px);
  bottom: 4px;
  left: 0;
  right: 0;
  background: rgba(255,255,255,0.35);
  font-weight: bold;
  font-size: 0.7rem;
  padding: 2px 5px;
  overflow: hidden; /*so if the text is longer than the meme, it just disappears*/
  text-overflow: ellipsis;
  white-space: nowrap;
}

.meme:hover .meme-title{
  display: block; /*on top of each other*/
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
